@charset "UTF-8";


@use '../common/css/Layout/main';

@mixin paddingSide {
    width: calc(100% - 30px);
    padding: 30px 15px;
    margin: 0 auto;
    @media screen and (min-width:768px){
        width: calc(100% - 60px);
        padding: 60px 30px;
        max-width: 1100px;
    }  
  }

  #application_form_wrap {
    @include paddingSide();
  }

  #error {
    display: none;
  }

  #application_form_wrap {
    .mail {
      width: 100%;
    }
  }
