@charset "UTF-8";

@use '../common/css/Layout/main';
@use '../common/css/Component/button';


@mixin paddingSide {
  padding: 10px 15px;
  @media screen and (min-width:768px){
    padding: 10px 40px;
  }
}
@mixin contentsJpTtl {
  font-size: 1.8rem;
  @media screen and (min-width:768px){
    font-size: 2rem;
  }
  @media screen and (min-width:920px){
    font-size: 2.4rem;
}
}
@mixin contentsSentence {
  font-size: 1.2rem;
  line-height: 2;
  text-align: justify;
  padding-top: 10px;
  @media screen and (min-width:768px){
    font-size: 1.4rem;
  }
}


#topTtlWrap .topTtlInner {
    position: relative;
    padding-top: 60px;
  }
  .ttlWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    .enTtl {
        font-size: 4rem;
      }
    .jpTtl {
        font-size: 1.4rem;
    }
  }
#panNavi {
  @include paddingSide();
}
#panNavi a {
  position: relative;
}
#panNavi a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #000;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s;
  bottom: -1px;
}
#panNavi a:hover::after {
  transform: scale(1, 1);
}
#panNavi .list {
  display: flex;
  flex-flow: wrap;
  font-size: 1.2rem;
  line-height: 1;
}
#panNavi li:not(:first-child)::before{
  content: "＞";
  color: #e95520;
  padding-left: 5px;
}

.topImg img {
  width: 100%;
}

.aboutWrap {
  @include paddingSide();
  text-align: center;
  .enTtl {
    font-size: 2rem;
    font-weight: bold;
    color: #e95520;
    letter-spacing: 1.5px;
  }
  .jpTtl {
    font-size: 2rem;
  }
  .aboutLead {
    @include contentsSentence();
    padding-top: 20px;
  }
}

.cintentImg {
  img {
    width: 100%;
  }
}
.contents .txtWrap {
  @include paddingSide();
  span {
    font-size: 1.4rem;
    line-height: 1;
    padding-top: 20px;
    color: #e95520;
    letter-spacing: 1.5px;
  }
  h3 {
    @include contentsJpTtl();
    font-size: 2rem;
  }
  p {
    @include contentsSentence();
  }
}
