@charset "UTF-8";

@use '../common/css/Layout/main';
@use '../common/css/Component/bntton';

#topTtlWrap .topTtlInner {
    position: relative;
    
  }
  .ttlWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    .enTtl {
        font-size: 4rem;
      }
    .jpTtl {
        font-size: 1.4rem;
    }
  }
  #panNavi .list {
    display: flex;
    flex-flow: wrap;
    font-size: 1.2rem;
    line-height: 1;
    li:not(:first-child)::before{
      content: "ï¼ž";
      color: #e95520;
    }
  }