@charset "UTF-8";

@use '../common/css/Layout/main';


@mixin paddingTop {
    padding-top: 15px;
}
#workInner {
    padding: 60px 15px 0;
    @media screen and (min-width:768px){
    padding: 60px 40px 0;
    font-size: 1.4rem;
    }
    @media screen and (min-width:960px){
    max-width: 1100px;
    margin: 0 auto;
    }
    img {
        width: 100%;
    }
    .wrap {
        padding-top: 30px;
    }
    h3 {
        padding-top: 20px;
        font-size: 1.7rem;
        line-height: 1;
        @media screen and (min-width:960px){
            font-size: 2rem;
        }
      }
    h4 {
        @include paddingTop();
        font-size: 1.5rem;
        line-height: 1;
        @media screen and (min-width:960px){
            font-size: 1.7rem;
        }
    }
    p {
        @include paddingTop();
        font-size: 1.3rem;
        line-height: 2;

        @media screen and (min-width:960px){
            font-size: 1.6rem;
        }
    }
    @media screen and (min-width:960px){
        .wrap {
            display: flex;
            width: 100%;
            justify-content: space-between;
          }
        .img {
        width: 40%;
        }
        h3 {
            padding: 0;
        }
        .rightWrap {
            width: 55%;
            display: flex;
            flex-flow: column;
            justify-content: end;
        }
        }
    .wrap2,
    .wrap3 {
        padding-top: 100px;
    }
}

.buttonWrap {
    width: 100%;
    display: flex;
    font-size: 1.4rem;
    margin-top: 25px;
    justify-content: end;
    a {
        padding: 20px 30px;
        background-color: #000;
        border-radius: 50px;
        border: solid 2px #000;
        transition: .2s;
        color: #fff;
    }
    &:hover {
        a {
            color: #e95520;
            background-color: #fff;
            border: solid 2px #e95520;
        }
    }
  }