@charset "UTF-8";

@use '../common/css/Layout/main';

#productionWrap {
    padding-top: 60px;
    img {
        width: 100%;
      }
    .innerWrap1 {
        display: flex;
        justify-content: space-between;
    }
}