@charset "UTF-8";

@use '../common/css/Layout/main';


#workInner {
    img {
        width: 100%;
    }
    .wrap {
        padding-top: 30px;
    }
    h3 {
        font-size: 1.7rem;
        line-height: 1;
        @media screen and (min-width:960px){
            font-size: 2rem;
        }
      }
    h4 {
        font-size: 1.5rem;
        line-height: 1;
        @media screen and (min-width:960px){
            font-size: 1.7rem;
        }
    }
    p {
        font-size: 1.3rem;
        line-height: 1;
        @media screen and (min-width:960px){
            font-size: 1.6rem;
        }
    }
}