@charset "UTF-8";

@use '../common/css/Layout/main';

#supportWrap {
    padding: 60px 15px 0;
    @media screen and (min-width:768px){
    padding: 60px 40px 0;
    font-size: 1.4rem;
    }
    @media screen and (min-width:960px){
    max-width: 1100px;
    margin: 0 auto;
    }
    img {
        width: 100%;
      }
     h3 {
        font-size: 1.6rem;
        text-align: center;
        @media screen and (min-width:768px){
            font-size: 1.8rem;
            }
            @media screen and (min-width:960px){
            
            }
     }
     h4 {
        font-size: 1.5rem;
        padding-top: 10px;
        line-height: 1;
        @media screen and (min-width:768px){
            font-size: 1.7rem;
            }
            @media screen and (min-width:960px){
            }
     }
     p {
        padding-top: 10px;
        text-align: justify;
     }
     .img {
        padding-top: 40px;
     }
}
.supportlogoWrap {
    @media screen and (min-width:920px){
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
  }

.logoWrap {
    width: 60%;
    margin: 40px auto 0;
    @media screen and (min-width:768px){
        width: 35%;
    }
    @media screen and (min-width:920px){
        width: 65%;
    } 
  }