@charset "UTF-8";

@use '../common/css/Layout/main';

#productionWrap {
    padding-top: 60px;
    img {
        width: 100%;
      }
    padding: 60px 15px 0;
    @media screen and (min-width:768px){
    padding: 60px 40px 0;
    font-size: 1.4rem;
    }
    @media screen and (min-width:960px){
    max-width: 1100px;
    margin: 0 auto;
    }
}

.innerWrap1 {
    ul {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
      }
    li:first-child {
        width: 53%;
    }
    li:last-child {
        width: 45%;
    }
}

.innerWrap2 {
    ul {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
      }
    li:first-child {
        width: 60%;
    }
    li:last-child {
        width: 38%;
    }
}

.innerWrap3 {
    ul {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
      }
    li {
        width: 32%;
    }
}