@charset "UTF-8";

@use '../common/css/Layout/main';

#companyWrap {
    
}

.textWrap {
    padding-top: 60px;
    h3 {
        font-size: 1.6rem;
        text-align: center;
        @media screen and (min-width:768px){
            font-size: 1.8rem;
            }
            @media screen and (min-width:960px){
                font-size: 2rem;
            }
    }
    p {
        font-size: 1.4rem;
        @media screen and (min-width:960px){
            font-size: 1.6rem;
        }
    }
}