@charset "UTF-8";

@use '../common/css/Layout/main';

#productionWrap {
    padding-top: 60px;
    img {
        width: 100%;
      }

}

.innerWrap1 {
    ul {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
      }
    li {
        width: 48%;
    }
}