@charset "UTF-8";

@use '../common/css/Layout/main';


$color: #e95522;


#workSub {
    padding: 60px 15px 0;
    @media screen and (min-width:768px){
    padding: 60px 40px 0;
    font-size: 1.4rem;
    }
    @media screen and (min-width:960px){
    max-width: 1100px;
    margin: 0 auto;
    }
    img {
        width: 100%;
    }
    .jobLeadWrap {
        span {
            font-size: 1.6rem;
            position: relative;
            color: $color;
            padding-left: 25px;
            &::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 2px;
                left: 0;
                top: 8px;
                background-color: $color;
                
            }
            @media screen and (min-width:768px){
                font-size: 1.8rem;
                }
        }
        h4 {
            font-size: 2rem;
            padding-top: 20px;
          }
    }
}

.profileWrap {
    padding: 20px;
    margin-top: 20px;
    border: solid 1px #c5c5c5;
    h3 {
        font-size: 1.8rem;
        padding-top: 10px;
        @media screen and (min-width:960px){
            font-size: 2rem;
            }
      }
    h5 {
        font-size: 1.6rem;
        @media screen and (min-width:960px){
            font-size: 1.8rem;
            }
    }
    
    span {
        font-size: 1.4rem;
        @media screen and (min-width:960px){
            font-size: 1.6rem;
            }
      }
  }

  #QAwrap {
    padding-top: 30px;
    h3 {
        font-size: 1.3rem;
        color: $color;
      }
  }