@charset "UTF-8";

@use '../common/css/Layout/main';



.logoWrap {
    .logo {
        width: 40%;
        margin: 0 auto;
        padding-top: 20px;
        @media screen and (min-width:920px){
            width: 90%;
            margin-right: 60px;
        }
      }
      @media screen and (min-width:920px){
        display: flex;
        justify-content: space-between;
      }
}

#outline {
    padding: 60px 15px 0;
    @media screen and (min-width:768px){
      padding: 10px 40px 0;
    }
    @media screen and (min-width:920px){
      max-width: 920px;
      margin: 0 auto;
    }
}
.contentsTtl {
    font-size: 2rem;
    color: #e95520;
    letter-spacing: 1px;
}

