@charset "UTF-8";

@use '../common/css/Layout/main';



.logoWrap {
    .logo {
        width: 40%;
        margin: 0 auto;
        padding-top: 20px;
        @media screen and (min-width:920px){
            width: 900px;
            margin-right: 60px;
        }
      }
      @media screen and (min-width:920px){
        display: flex;
        justify-content: space-between;
      }
}

#outline {
    padding: 60px 15px 0;
    @media screen and (min-width:768px){
      padding: 10px 40px 0;
    }
    @media screen and (min-width:920px){
      max-width: 920px;
      margin: 0 auto;
    }
}
.contentsTtl {
    font-size: 2rem;
    color: #e95520;
    letter-spacing: 1px;
}

#outline {
  font-size: 1.2rem;
  line-height: 1;
  .contentsTtl:not(:first-child) {
    padding-top: 60px;
  }
  @media screen and (min-width:768px){
    font-size: 1.4rem;

  }
}

@mixin p-top20px {
  padding-top: 20px;
}
@mixin p-top60px {
  padding-top: 60px;
  display: block;
}


#overview {
  table {
    letter-spacing: 1px;
    @include top20px();
  }
  tr {
    display: flex;
    flex-flow: column;
  }
  th {
    padding: 20px 0 10px 0;
    border-top: #c5c5c5;
  }
  td {
    padding: 10px 0 20px 0;
  }
}

#businessItems {
  @include p-top60px();
}

#history {
  @include p-top60px();
}