@charset "UTF-8";
/* CSS Document */

.contents{
    width: 100%;
}



  #panNavi {
    padding: 10px 15px 0;
    @media screen and (min-width:768px){
      padding: 10px 40px 0;
    }
  }

  .leadWrap {
    padding: 10px 15px 0;
    @media screen and (min-width:768px){
      padding: 10px 40px 0;
    }
    @media screen and (min-width:920px){
      padding: 50px 40px 0;
    }
    @media screen and (min-width:1080px){
      padding: 100px 40px 0;
    }
    text-align: center;
    .enTtl {
      font-size: 2rem;
      font-weight: bold;
      color: #e95520;
      letter-spacing: 1.5px;
    }
    .jpTtl {
      font-size: 2rem;
      @media screen and (min-width:1080px){
        font-size: 2.2rem;
      }
    }
    .aboutLead {
        font-size: 1.2rem;
        line-height: 2;
        text-align: justify;
        padding-top: 20px;
        @media screen and (min-width:768px){
          font-size: 1.4rem;
        }
      padding-top: 20px;
      @media screen and (min-width:920px){
        max-width: 920px;
      }
    }
  }


