@charset "UTF-8";


@mixin moreButton {
    width: 100%;
    display: flex;
    justify-content: center;
    .moreButton {
        padding: 17px 70px;
        background-color: #000;
        border: solid 2px #000;
        display: block;
        border-radius: 100px;
        color: #fff;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
        text-align: center;
        margin-top: 20px;
        transition: .2s;
        &:hover {
            background-color: #fff;
            color: #e95520;
            border: solid 2px #e95520;
        }
    }
}